/************************************************
            Responsive CSS
***********************************************/

/* tablet Device */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  html,
  body {
    font-size: 14px;
  }

  /* Home Page Start */
  .section_padding {
    padding: 1rem 0.2rem;
  }
  #header-top img {
    width: 10px !important;
    margin-right: 5px;
  }
  #header-top a {
    font-size: 0.6rem !important;
    margin: 0.3rem !important;
  }
  .desktop__navbar {
    display: none !important;
  }
  .mobile__navbar {
    display: block !important;
  }
  .content_inner_border {
    height: 285px !important;
  }
  .course_list li img {
    height: 20px;
  }
  .course_list li {
    font-size: 15px;
  }
  .course_card_left {
    height: 80px;
    width: 80px;
  }
  .course_card_right {
    margin: 0;
  }

  /* Home Page Close */

  /* Info Pack Page Start */
  .notice .notice-title {
    font-size: 1.8rem;
  }
  .slick-dots li button {
    height: 7px;
    width: 7px;
  }
  .slick-dots {
    bottom: 0;
  }
  /* Info Pack Page Close */
}

/* Mobile Devices */
@media only screen and (max-width: 600px) {
  html,
  body {
    font-size: 12px;
  }
  /* Home Page Start */
  #header-top img {
    width: 8px !important;
  }
  #header-top a {
    font-size: 0.5rem !important;
  }
  .desktop__navbar {
    display: none;
  }
  .mobile__navbar {
    display: block !important;
  }
  /* Home Page Close */

  /* Info Pack Page Start */
  /* Info Pack Page Close */
}

/* Extra small Devices */
@media only screen and (max-width: 412px) {
  html,
  body {
    font-size: 12px;
  }
  /* Home Page Start */
  #header-top {
    display: none;
  }
  .content_inner_border {
    height: 215px;
  }
  .course_card_left {
    height: 60px;
    width: 60px;
  }
  .course_list li img {
    height: 15px;
  }
  .course_list li {
    font-size: 12px;
  }
  .toggle_navbar_height {
    height: 40px;
  }
  .toggle_navbar_height.long_height {
    height: 230px;
    overflow: auto;
  }
  .toggle_bar {
    height: 25px;
    width: 25px;
  }
  .toggle_bar i {
    font-size: 16px;
  }

  /* Home Page Close */

  /* Info Pack Page Start */
  /* Info Pack Page Close */
}

@media only screen and (max-width: 360px) {
  html,
  body {
    font-size: 8px;
  }
  /* Home Page Start */
  #header-top img {
    width: 8px !important;
  }
  .toggle_navbar_height {
    height: 35px;
  }
  .toggle_bar {
    margin-top: 5px;
  }
  .toggle_navbar_height.long_height {
    height: 180px;
    overflow: auto;
  }
  /* Home Page Close */

  /* Info Pack Page Start */
  /* Info Pack Page Close */
}
