/************************************************
            Responsive CSS
***********************************************/

/* tablet Device */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  html,
  body {
    font-size: 14px;
  }
  .section_padding {
    padding: 1rem 0.2rem;
  }
  #header-top img {
    width: 10px !important;
    margin-right: 5px;
  }
  #header-top a {
    font-size: 0.6rem !important;
    margin: 0.3rem !important;
  }
  .desktop__navbar {
    display: none !important;
  }
  .mobile__navbar {
    display: block !important;
  }
  .content_inner_border {
    height: 285px !important;
  }
  .course_list li img {
    height: 20px;
  }
  .course_list li {
    font-size: 15px;
  }
}

/* Mobile Devices */
@media only screen and (max-width: 600px) {
  html,
  body {
    font-size: 12px;
  }
  #header-top img {
    width: 8px !important;
  }
  #header-top a {
    font-size: 0.5rem !important;
  }
  .desktop__navbar {
    display: none;
  }
  .mobile__navbar {
    display: block !important;
  }
}

/* Extra small Devices */
@media only screen and (max-width: 412px) {
  html,
  body {
    font-size: 10px;
  }
  #header-top {
    display: none;
  }
}

@media only screen and (max-width: 360px) {
  html,
  body {
    font-size: 8px;
  }
  #header-top img {
    width: 8px !important;
  }
}
