@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root {
  --color-light-salmon: #ff6b61;
  --color-white: #ffffff;
  --color-dark: #0f2e33;
  --color-light-white: #f5f2f0;
  --color-wave-crest: #dce8ea;
  --color-moscow-midnight: #214752;
}

/*=============================  Normailize CSS ===========================*/
html,
body {
  background-color: var(--color-white);
  color: var(--color-dark);
  /* text-transform: capitalize; */
  /* font-family: "Poppins", sans-serif; */
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  font-size: 16px;
  scroll-behavior: smooth;
  position: relative;
  /* font-family: Red Hat Text,Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; */
}

a {
  text-decoration: none;
  color: var(--color-dark);
  transition: 0.5s ease;
}
a:hover {
  color: var(--color-dark);
  opacity: 0.9;
}

ul li {
  list-style-type: none;
}

.section_padding {
  padding: 3rem 1rem;
}
.section_padding_extra {
  padding-top: 3rem;
  padding-bottom: 7rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.default-btn-round {
  background-color: var(--color-light-salmon);
  border: 1px solid var(--color-light-salmon);
  color: var(--color-white);
  padding: 0.2rem 1.5rem;
  border-radius: 25px;
}
.default-btn-round a {
  color: var(--color-white);
}

.content_title {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.3;
}

.content_details {
  font-size: 1rem;
}

.title {
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
}
/*=========================== Normailize CSS ==============================*/

/*======================== Nav Section Start ==============================*/
.mobile__navbar {
  display: none;
}
#header-top {
  background: var(--color-wave-crest);
}
#header-top img {
  width: 15px;
  margin-right: 10px;
}
#header-top a {
  font-size: 0.8rem;
  margin: 0.5rem;
  display: inline-block;
}
#header-top span {
  display: inline-block;
}

#navigation {
  width: 100%;
  font-weight: 400;
  font-variant: normal;
}
.navbar {
  background-color: var(--color-white);
  position: relative;
}
.navbar_fixed {
  border-bottom: 1px solid var(--color-moscow-midnight);
  box-shadow: 0 0 50px 0 rgba(0, 161, 215, 0.263);
  background-color: var(--color-white);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: 0.5s ease;
}
.header_logo {
  font-size: 2rem;
  font-weight: 800;
  margin-left: 1rem;
  color: var(--color-moscow-midnight);
}

.header_menu {
  margin-right: 1rem;
}

.header_menu ul li {
  display: inline-block;
  /* margin: 0.6rem; */
  margin: 1rem 0.6rem 0 0.6rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.mobile_brand_name {
  font-size: 1.2rem;
}
.toggle_bar {
  background-color: var(--color-moscow-midnight);
  height: 35px;
  width: 35px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.toggle_bar i {
  font-size: 25px;
  color: var(--color-light-white);
}

.toggle_navbar_height {
  height: 60px;
  position: relative;
  overflow: hidden;
  transition: 0.5s ease;
}
.toggle_navbar_height.long_height {
  height: 320px;
  overflow: auto;
}
.mobile_navbar ul li {
  display: block;
  margin-top: 1rem;
  font-weight: 700;
  border-bottom: 2px solid transparent;
}

.mobile_navbar ul li:hover {
  border-color: var(--color-moscow-midnight);
}

/*=========================  Nav Section Close ========================*/

/*=============================== Home Section Start ========================*/
.content_inner {
  position: relative;
}
.content_inner img {
  z-index: 999;
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  border-radius: 5px;
}
.content_inner_border {
  border: 5px solid;
  border-image: linear-gradient(
      45deg,
      rgba(33, 71, 82, 1),
      rgba(255, 107, 97, 1)
    )
    1;
  height: 275px;
  width: 100%;
  border-radius: 5px;
  position: absolute;
  top: -15px;
  left: -15px;
}
/*============================== Home Section Close =============================*/

/*=============================== Course Processing Section Start ========================*/

.subscribe_section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/common/subscribe-bg.jpg) fixed center center;
  background-size: cover;
  padding: 40px 0;
  color: var(--color-white);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.content_inner_box {
  margin-top: 2rem;
  transition: 1s ease;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.content_inner_box:hover {
  background: var(--color-light-salmon);
  transform: translateY(-10px);
  /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; */
}
.course_card_left {
  background-color: var(--color-wave-crest);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.course_card_left i {
  font-size: 2.5rem;
  color: var(--color-dark);
}
.course_card_right {
  margin-left: 1rem;
}
.course_card_right .course_card_title {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: inherit;
  font-weight: 700;
}
/*=============================== Course Processing Section Close ========================*/
/*=============================== Testimonial Start ========================*/
.testimonial_section {
  background: var(--color-wave-crest);
}
.testimonial_card_header {
  /* background-color: var(--color-light-white); */
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.testimonial_card_header img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 1rem;
}

.testimonial_details {
  padding: 1rem;
}
.testimonial_details p {
  text-align: justify;
}
/*=============================== Testimonial Close ========================*/
/*=============================== Course Section Start ========================*/
.coruse_section {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url(../images/common/services-bg.jpg) fixed center center;
  background-size: cover;
}

.coruse_section .title {
  color: var(--color-white) !important;
}
.coruse_section .card {
  border: 0 !important;
}
.custom_card_header {
  background: var(--color-moscow-midnight);
  width: 100%;
  height: 25px;
  margin: 0;
  border: 0;
}

.course_list li {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px 0px;
  cursor: pointer;
}
.course_list li img{
  height: 25px;
}

/*=============================== Course Section Close ========================*/
/*=============================== Package Info Start ========================*/
.pack_banner_container {
  background: linear-gradient(107.07deg, #684efb -6.64%, #5a00dd 89.11%);
  background: linear-gradient(107.07deg, #684efb -6.64%, #5a00dd 89.11%);
  position: relative;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.pack_banner_carousel_inner {
  position: relative !important;
  left: 0;
  right: 0;
}

.carousel-control-next,
.carousel-control-prev {
  display: none;
}
.notice {
  -webkit-transform: translateY(-80px);
  transform: translateY(-80px);
}
.notice .notice-wrapper {
  box-shadow: 0 10px 12px 0 rgba(55, 84, 170, 0.1019607843) !important;
  border-radius: 20px;
  background-color: #fff !important;
  background-color: #ffffff !important;
}

.notice .notice-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 58px;
}
.notice .notice-title,
.notice h5 {
  font-family: Hind Siliguri;
  font-style: normal;
  color: #000;
  color: var(--black2);
}

.notice h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
}

.notice .one {
  background-image: linear-gradient(-45deg, #5a00dd, #684efb);
}

.notice .two {
  background-image: linear-gradient(-45deg, #fc5e51, #f59e75);
}
.notice .three {
  background-image: linear-gradient(-45deg, #ff9c35, #ffd019);
}
.notice .four {
  background-image: linear-gradient(-45deg, #ff193f, #ff35b4);
}
.notice i {
  text-align: center;
  border-radius: 5px;
  color: #fff;
  width: 25px;
  height: 25px;
  font-size: 12px;
  padding-top: 7px;
  margin-right: 12px;
}
.custom-countdown-component {
  display: flex;
  justify-content: center;
}

.notice .notice-wrapper .notice-dark-theme {
  background: linear-gradient(45deg, #5a00dd, #684efb);
  /* background: linear-gradient(45deg, #5A00DD,#684EFB); */
}

.francy-btn {
  background-color: #e55353 !important;
  border-color: #e55353 !important;
  border-radius: 40px !important;
  position: relative;
  white-space: nowrap;
  padding: 15px 65px 15px 42px !important;
}
.francy-btn::after {
  content: "";
  position: absolute;
  right: 5px;
  top: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  height: 42px;
  width: 42px;
  color: rgb(249, 79, 79);
  display: block;
  font-size: 1.4em;
  padding-top: 6px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
}

.course-information-component {
  background-color: #f5f7ff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.course-information-component .course-information-heading-div {
  border-radius: 11px;
  background-color: #fff;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0 5.64912px 14.1228px rgb(0 0 0 / 10%);
  border-radius: 10px;
}

.course-information-component .course-information-heading-div div {
  cursor: pointer;
  padding-top: 20px;
  box-sizing: border-box;
  color: #6c6c6c;
  /* width: 38%; */
  margin: 0 5%;
  font-family: Hind Siliguri;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  position: relative;
}

.course-information-component .course-information-heading-div div svg {
  font-size: 40px;
}

.svg-inline--fa.fa-w-18 {
  width: 1.125em;
}
.svg-inline--fa.fa-w-14 {
  width: 0.875em;
}

.course-information-component .course-information-title:after {
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  border-radius: 10px;
  background-color: #ff136f;
  bottom: 0;
  position: absolute;
}

.course-information-component .course-information-title {
  color: #ff136f !important;
}
.course-information-component .course-information-heading-div h5 {
  margin: 18px 0;
}

.course-information-component h5 {
  font-size: 17px;
}

.course-information-component .course-information-heading-div div svg {
  font-size: 40px;
}
.course-information-component .card {
  border: 0;
}

.course-learning-card {
  background-color: #fff;
  color: #383838;
}

.course-information-card,
.course-learning-card {
  box-shadow: 0 30px 80px 0 rgb(55 84 170 / 10%);
  border-radius: 16px;
}

.course-information-component p {
  font-size: 14px;
}

.course-information-component
  .course-objective-component
  .course-information-card {
  background-color: #fff;
  min-height: 300px;
}

.course-objective-component .objective-image {
  height: 80px;
  width: 80px;
  margin-bottom: 15px;
  border-radius: 50%;
}

span.react-read-more-read-less.react-read-more-read-less-more,
span.react-read-more-read-less.react-read-more-read-less-less {
  background: var(--color-light-salmon);
  color: var(--color-white);
  font-size: 12px;
  padding: 3px 5px;
  display: block;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 5.64912px 14.1228px rgb(0 0 0 / 10%);
  text-align: center;
  width: 100px;
  position: relative;
  left: 25%;
  bottom: 0;
}
.content_title {
  font-size: 1.5rem !important;
}

.course-criteria-section h3 {
  color: var(--color-dark);
}

.course-criteria-section .preview-card {
  padding: 25px 30px !important;
  background-color: var(--color-white);
}

.preview-card .preview {
  position: relative;
}

.preview-card .preview img.img-fluid.w-100 {
  border-radius: 14px;
}

.enroll-card img.lazy-image {
  border-radius: 10px !important;
}

.preview-card .preview .play-icon {
  width: 110px;
  height: 110px;
  position: absolute;
  top: calc(50% - 55px);
  left: calc(50% - 55px);
  cursor: pointer;
}

.preview-card .timer {
  background: linear-gradient(180deg, #684efb 0.01%, #5a00dd 100.01%);
  border-radius: 10px;
  padding: 14px 10px;
  color: #fff;
  font-family: Poppins;
  font-weight: 500;
  font-size: 15px;
}

.preview-card .count {
  flex-wrap: wrap;
}
.preview-card .count > div img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.preview-card .count > div p {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
}

.preview-card .count > div {
  margin: 2px;
  flex: auto;
  flex-wrap: wrap;
  display: flex;
  background: #fff;
  box-shadow: 0 10px 40px rgb(0 0 0 / 5%);
  align-items: center;
  border-radius: 57.2653px;
  padding: 8px 15px 8px 8px;
}

.preview-card .price {
  font-size: 36px;
  line-height: 54px;
  color: var(--color-dark);
}

.course-criteria-section .criterias {
  font-family: Hind Siliguri;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #000;
  color: var(--color-dark);
}
.course-criterias li {
  display: flex;
  margin-bottom: 35px;
}
.list-unstyled {
  list-style: none;
}
.svg-inline--fa.fa-w-14 {
  width: 0.875em;
}
.course-criterias li svg {
  background: linear-gradient(75deg, #fc5e51, #f59e75);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 8px;
  margin-top: 5px;
  color: tomato;
  font-size: 1.4em;
}

.course-criterias p,
.course-criterias span {
  font-size: 17px;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
/*=============================== Package Info Close ========================*/
/*=============================== FAQ Start ========================*/
.frequently-asked-component .frequently-asked-main {
  background-image: linear-gradient(180deg, #684efb, #5a00dd);
}

.frequently-asked-component .shadow {
  box-shadow: 0 10px 15px 0 rgba(55, 84, 170, 0.1019607843) !important;
}

.frequently-asked-list-component
  .MuiPaper-root.MuiAccordion-root.MuiAccordion-rounded.MuiPaper-elevation1.MuiPaper-rounded {
  box-shadow: none;
  box-shadow: 0 0 80px rgb(0 0 0 / 16%);
}

.lazy-image {
  width: 100% !important;
  height: unset !important;
  position: unset !important;
  object-fit: unset !important;
  top: unset !important;
  left: unset !important;
}

.info {
  position: relative;
  z-index: 2;
}

.ask_collapse_open {
  display: block !important;
}

.faqHome-body {
  position: relative;
  margin: 0 -15px 100px -15px;
  padding: 50px 15px;
}
@media (max-width: 992px) {
  .faqHome-body {
    background-size: contain;
  }
}
.info {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
}

.faq-item {
  position: relative;
  z-index: 2;
  box-shadow: 0 0 80px rgb(0 0 0 / 16%);
  background-color: #5930e1;
  border-radius: 10px;
  margin: 10px 0px;
  transition: 0.5s ease;
}

.faq-item .faq_inner_content {
  padding: 10px;
  background-color: rgba(38, 18, 147, 0.0784313725);
  color: #fff;
  padding: 10px;
}
.faq-item p {
  display: none;
  padding-bottom: 20px;
  color: var(--color-white);
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 22px;
}
@media (max-width: 540px) {
  .faq-item p {
    font-size: 14px;
    line-height: 20px;
  }
}
.faq-title {
  min-height: 40px;
  padding: 15px 50px 20px 0;
  margin-bottom: 5px;
  position: relative;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  -webkit-transition: border 0.25s linear;
  transition: border 0.25s linear;
}
.faq-title h3 {
  color: var(--color-white);
  font-size: 24px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}
@media (max-width: 540px) {
  .faq-title h3 {
    font-size: 16px;
  }
}
.faq-title span {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 8px 18px -6px rgba(37, 92, 98, 0.12),
    0 12px 42px -4px rgba(37, 92, 98, 0.12);
  box-shadow: 0 8px 18px -6px rgba(37, 92, 98, 0.12),
    0 12px 42px -4px rgba(37, 92, 98, 0.12);
  position: absolute;
  top: 5px;
  right: 0;
}
.faq-title span:before {
  content: "";
  width: 2px;
  height: 14px;
  display: block;
  background: var(--primary);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: -webkit-transform 0.25s linear;
  transition: -webkit-transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear;
}
.faq-title span:after {
  content: "";
  width: 14px;
  height: 2px;
  display: block;
  background: var(--primary);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: -webkit-transform 0.25s linear;
  transition: -webkit-transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear;
}
.faq-title.open {
  border-bottom: 2px solid var(--color-wave-crest);
  transition: 0.5s ease;
}
.faq-title.open span:after,
.faq-title.open span:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.faq-title span:before {
  content: "";
  width: 2px;
  height: 14px;
  display: block;
  background: var(--color-light-salmon);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: -webkit-transform 0.25s linear;
  transition: -webkit-transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear;
}
.faq-title span:after {
  content: "";
  width: 14px;
  height: 2px;
  display: block;
  background: var(--color-light-salmon);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: -webkit-transform 0.25s linear;
  transition: -webkit-transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear;
}

.faq-title span:after {
  width: 14px;
  height: 2px;
}
/*=============================== FAQ Close ========================*/
/*=============================== Student Feedback Start ========================*/
.student_feedback__Seciton {
  background: var(--color-wave-crest);
}

.user_feedback {
  text-align: center;
  padding: 10px;
  margin-top: 2.5rem;
  position: relative;
}

.user_feedback .user_feedback_inner {
  background-color: var(--color-white);
  padding: 1rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  border-radius: 5px;
}

.user_feedback .user_feedback_inner .user_feedback_profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-60px);
}

.user_feedback .user_feedback_profile .user_profile_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  position: relative;
  background-color: var(--color-white);
}
.user_feedback .user_feedback_inner .user_feedback_details {
  margin-top: -2rem;
}
.user_feedback .user_feedback_inner .user_feedback_thumbnails img{
  width: 100%;
  max-height: 400px;
}
.user_feedback .user_feedback_inner .user_feedback_details p {
  font-size: 14px;
}
.user_feedback .user_feedback_profile .user_profile_img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.slick-dots li button {
  background: var(--color-moscow-midnight);
  opacity: 0.75;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-dots li.slick-active button {
  opacity: 1;
}
.slick-dots li button:before {
  display: none;
}
/*=============================== Student Feedback close ========================*/

/*=========================== Footer Section Start ==========================*/
#footer_section {
  background: var(--color-moscow-midnight);
  padding-top: 3rem;
  padding-bottom: 0.5rem;
  color: var(--color-white);
}
#footer_section a {
  color: var(--color-white);
  margin-left: -1.5rem;
}
#footer_section a:hover {
  opacity: 0.8;
}

#footer_section ul li {
  display: block;
  margin-top: 1rem;
}
.footer_menulist ul li {
  display: inline-block !important;
}
.footer_menulist ul {
  margin-left: -1.5rem;
}
.footer_menulist ul li img {
  height: 50px;
  width: 50px;
  border: 1px solid var(--color-light-white);
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
}

.footer_social ul li a {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.footer_social ul li a > div{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-light-white);
  transition: 0.6s ease;
}
.footer_social ul li a > div img{
  width: 18px;
  height: 18px;
}
.footer_copyright {
  font-size: 0.9rem;
  color: var(--color-light-white);
  margin-top: 1rem;
}
/*=============================== Footer Section Close ===========================*/
