:root {
  --color-light-salmon: #ff6b61;
  --color-white: #ffffff;
  --color-dark: #0f2e33;
  --color-light-white: #f5f2f0;
  --color-wave-crest: #dce8ea;
  --color-moscow-midnight: #214752;
}

/*=============================  Normailize CSS ===========================*/
html,
body {
  background-color: var(--color-white);
  color: var(--color-dark);
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  scroll-behavior: smooth;
  position: relative;
  /* font-family: Red Hat Text,Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; */
}

a {
  text-decoration: none;
  color: var(--color-dark);
  transition: 0.5s ease;
}
a:hover {
  color: var(--color-dark);
  opacity: 0.9;
}

ul li {
  list-style-type: none;
}

.section_padding {
  padding: 3rem 1rem;
}
.default-btn-round {
  background-color: var(--color-light-salmon);
  border: 1px solid var(--color-light-salmon);
  color: var(--color-white);
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
}
.default-btn-round a {
  color: var(--color-white);
}

.content_title {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.3;
}

.content_details {
  font-size: 1.2rem;
}

.title {
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
}
/*=========================== Normailize CSS ==============================*/

/*======================== Nav Section Start ==============================*/
#header-top {
  background: var(--color-wave-crest);
}
#header-top img {
  width: 15px;
  margin-right: 10px;
}
#header-top a {
  font-size: 0.8rem;
  margin: 0.5rem;
  display: inline-block;
}
#header-top span {
  display: inline-block;
}

#navigation {
  width: 100%;
}
.navbar {
  background-color: var(--color-white);
  position: relative;
}
.navbar_fixed {
  border-bottom: 1px solid var(--color-moscow-midnight);
  box-shadow: 0 0 50px 0 rgba(0, 161, 215, 0.263);
  background-color: var(--color-white);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: 0.5s ease;
}
.header_logo {
  font-size: 2rem;
  font-weight: 800;
  margin-left: 1rem;
  color: var(--color-moscow-midnight);
}

.header_menu {
  margin-right: 1rem;
}

.header_menu ul li {
  display: inline-block;
  margin: 0.6rem;
  font-size: 1.2rem;
  font-weight: 600;
}
/*=========================  Nav Section Close ========================*/

/*=============================== Home Section Start ========================*/
.content_inner {
  position: relative;
}
.content_inner img {
  z-index: 999;
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  border-radius: 5px;
}
.content_inner_border {
  border: 5px solid;
  border-image: linear-gradient(
      45deg,
      rgba(33, 71, 82, 1),
      rgba(255, 107, 97, 1)
    )
    1;
  height: 275px;
  width: 100%;
  border-radius: 5px;
  position: absolute;
  top: -15px;
  left: -15px;
}
/*============================== Home Section Close =============================*/
.content_inner_box {
  margin-top: 2rem;
  transition: 0.5s ease all;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.content_inner_box:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.course_card_left {
  background-color: var(--color-wave-crest);
  height: 130px;
  width: 130px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.course_card_left i {
  font-size: 3rem;
}
.course_card_right {
  margin-left: 1rem;
}
.course_card_right .course_card_title {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 800;
}
/*=============================== Course Processing Section Start ========================*/

/*=============================== Course Processing Section Close ========================*/

/*=========================== Footer Section Start ==========================*/
#footer_section {
  background: var(--color-moscow-midnight);
  padding: 3rem 0.5rem;
  color: var(--color-white);
}
#footer_section a {
  color: var(--color-white);
  margin-left: -1.5rem;
}
#footer_section a:hover {
  opacity: 0.8;
}

#footer_section ul li {
  display: block;
  margin-top: 1rem;
}

/*=============================== Footer Section Close ===========================*/
